@use "../variables" as *;
@use "../mixins" as *;


.catalog {
  .container {
    
    .advantages {
      padding: 40px 0;
      .advantages__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        background-color: #F0F3F9;
        padding: 24px;
        border-radius: 24px;
        .advantages-item {
          background-color: #D6E9D5;
          border-radius: 16px;
          padding: 12px 10px;
          display: flex;
          align-items: center;
          gap: 12px;
          min-height: 84px;
          .advantages-item__icon {
            width: 80px;
            height: 80px;
            background-color: #ffffff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .approach {
      padding: 60px 0;
      h2 {
        margin-bottom: 40px;
      }
      .approach__table {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
        .approach__header, .approach__row {
          display: grid;
          grid-template-columns: 0.8fr 1.2fr 1.2fr;
          // gap: 20px;
          gap: clamp(12px, calc(1rem + 1vw), 20px);;
          .col {
            border-radius: 8px;
            padding: 12px;
            font-weight: 600;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .col-title {
            background-color: #F0F3F9;
          }
          .col-title--accent {
            background: $accent;
            color: #ffffff;
          }
          .cell {
            font-weight: 500;
            justify-content: center;
            text-align: center;
            border-radius: 12px;
            padding: 20px 24px;
            line-height: 1.4;
            display: flex;
            align-items: center;
            background-color: #F0F3F9;
            color: #353F47;
          }
          .cell--accent {
            background-color: #E2EFE0;
          }
        }
      }
    }

    .project-catalog {
      h2 {
        margin-bottom: 16px;
      }
      .project-catalog__list {
        display: flex;
        flex-direction: row;
        gap: 12px 24px;
        justify-content: space-between;
        list-style: none;
        padding-bottom: 12px;
        button {
          background-image: url('../../img/bg/ipoteka-bg.png');
          background-size: 90px;
          background-position: 10px center;
          display: flex;
          flex-direction: column;
          background-color: #F5F3F1;
          padding: 24px 24px 24px 110px;
          background-repeat: no-repeat;
          min-height: 165px;
          box-sizing: border-box;
          min-width: 365px;
          cursor: pointer;
          gap: 8px;
          border: none;
          text-align: left;
        }
      }
    }

    .catalog__tabs {
      margin-bottom: clamp(24px, calc(1rem + 1vw), 53px);
      .catalog__toggles {
        width: 100%;
        display: flex;
        margin-bottom: 24px;
        overflow-x: auto;
        button {
          flex: 1;
          border: 1px solid #989898;
          border-right: none;
          padding: 8px 24px;
          line-height: 16px;
          white-space: nowrap;
        }
        button:last-child {
          border-right: 1px solid #989898;
        }
        button.active {
          background: #1D8119;
          color: #fff;
        }
      }
      .catalog__tags {
        display: flex;
        gap: 10px;
        .button-accent {
          padding: 6px 12px;
          border-radius: 43px;
          color: #000;
          background-color: #f5f5f5;
          border: none;
        }
        .button-accent:hover {
          background: $accent-light;
          transition: background-color 0.2s;
        }
      }
    }

    .catalog__wrapper {
      display: flex;
      align-items: start;
      justify-content: space-between;
      grid-column-gap: 32px;
      grid-template-columns: 267px minmax(200px, 800px);
      margin-bottom: clamp(80px, calc(1rem + 1vw), 120px);
      .filter__desctop {
        width: 267px;
        .filter__title {
          margin-bottom: 32px;
          padding: 0;
          font-size: 20px;
          line-height: 24px;
        }
        .filter__fieldset {
          margin-bottom: 32px;
          border: none;
          display: flex;
          flex-direction: column;
          legend {
            margin-bottom: 16px;
          }
          .fieldset__wrap {
            display: flex;
            justify-content: space-between;
            .wrap__range {
              display: flex;
              align-items: center;
              font-size: 16px;
              line-height: 20px;
            }
          }
          .fieldset__line {
            height: 1px;
            margin-top: 19px;
            background: rgba(82, 80, 78, 0.5);
          }
        }
        p {
          margin-bottom: 32px;
          font-weight: 400;
          color: #353f47;
        }
        .button-accent {
          margin: 12px 0 0;
          padding: 12px 18px;
          width: 255px;
        }
        .filter__reset {
          margin-top: 20px;
          color: $accent;
          text-align: center;
        }
      }
      .catalog__cards {
        width: 800px;
        .sort {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
          p {
            display: inline;
          }
          .sort__wrapper {
            .filter__phone {
              display: none;
            }
            display: flex;
            gap: 10px;
            align-items: center;
          }
        }
        .cards__wrap {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 17px;
        }
      }
    }
  }
}



@include laptop-down {
  .catalog {
    .container {

      .advantages {
        .advantages__container {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      .project-catalog {
        .project-catalog__list {
          gap: 8px;
          overflow: auto;
        }
      }

      .catalog__wrapper {
        .filter__desctop {
          display: none;
        }
        .catalog__cards {
          width: 100%;
          .sort {
            .filter__phone {
              display: block;
            }
            .sort__wrapper {
              p {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@include tablet-down {
  .catalog {
    .container {

      .advantages {
        .advantages__container {
          grid-template-columns: repeat(1, 1fr);
        }
      }

      .approach {
        .approach__table {
          .approach__header, .approach__row {
            grid-template-columns: 1fr;
          }
        }
      }

      .project-catalog {
        .project-catalog__list {
          flex-direction: column;
        }
      }
    }
  }
}