@use "variables" as *;
@use "mixins" as *;

@use "components/button";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: OpenSans, sans-serif;
}

h2 {
  font-size: clamp(20px, calc(1rem + 1vw), 28px);
  font-weight: 600;
  line-height: 1.3;
}
p {
  font-size: clamp(16px, calc(1rem + 1vw), 18px);
  font-weight: 600;
  line-height: 1.3;
}
span {
  font-size: clamp(14px, calc(1rem + 1vw), 16px);
  line-height: 22.4px;
  letter-spacing: -0.02em;
  display: block;
}
.span-mini {
  font-size: 12px;
}
.add {
  color: #989898;
}
a {
  text-decoration: none;
  line-height: 16px;
  color: #000;
}
ul {
  li {
    list-style: none;
  }
}
b {
  font-weight: bolder;
  color: $accent;
}

.container {
  max-width: $container;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}